{% extends 'base.html' %} 

{% block body %}
<div class="neuro-content">
    <h1>{{player.first_name}}</h1>
    <h2>Here are the Dates Available</h2>
    <p>Week of {{curr_week.start_date.strftime('%b-%d')}}</p>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to
        <a href="{{ url_for('main.weather') }}">Weather Page</a>
    </div>
    {% endif %} {% endwith %}
    <div class="neuro-form-section">
        <form class="neuro-form"  method="POST" action="/requests/update/{{request.id}}">


            {% if 'Tuesday' in days %}
            <div class="neuro-form-entry-row">
                <input type="checkbox" name="tuesday" id="tuesday" {{"checked" if request.Tuesday}} >
                <label for="tuesday">Tuesday</label>
            </div>
            {% else %}
            <input type="hidden" name="tuesday" id="tuesday" >
            {% endif %}
            {% if 'Wednesday' in days %}
            <div class="neuro-form-entry-row">
                <input type="checkbox" name="wednesday" id="wednesday" {{"checked" if request.Wednesday}}>
                <label for="wednesday">Wednesday</label>
            </div>
            {% else %}
            <input type="hidden" name="wednesday" id="wednesday" >
            {% endif %}
            {% if 'Thursday' in days %}
            <div class="neuro-form-entry-row">
                <input type="checkbox" name="thursday" id="thursday" {{"checked" if request.Thursday}}>
                <label for="thursday">Thursday</label>
            </div>
            {% else %}
            <input type="hidden" name="thursday" id="thursday" >
            {% endif %}
            {% if 'Friday' in days %}
                <div class="neuro-form-entry-row">
                    <input type="checkbox" name="friday" id="friday" {{"checked" if request.Friday}}>
                    <label for="friday">Friday</label>
                </div>
            {% else %}
                <input type="hidden" name="friday" id="friday" >
            {% endif %}
            {% if 'Saturday' in days %}
                <div class="neuro-form-entry-row">
                    <input type="checkbox" name="saturday" id="saturday" {{"checked" if request.Saturday}}>
                    <label for="saturday">Saturday</label>
                </div>
            {% else %}
                <input type="hidden" name="saturday" id="saturday" >
            {% endif %}
            {% if 'Sunday' in days %}
                <div class="neuro-form-entry-row">
                    <input type="checkbox" name="sunday" id="sunday" {{"checked" if request.Sunday}}>
                    <label for="sunday">Sunday</label>
                </div>
            {% else %}
                <input type="hidden" name="sunday" id="sunday" >
            {% endif %}
            {% if 'Monday' in days %}
            <div class="neuro-form-entry-row">
                <input type="checkbox" name="monday" id="monday" {{"checked" if request.Monday}}>
                <label for="monday">Monday</label>
            </div>
            {% else %}
                <input type="hidden" name="monday" id="monday" {{"checked" if request.Monday}}>
            {% endif %}
            
            <div class="neuro-form-entry-row">
                <div class="" style="margin-top: 40px;">
                    <button type="submit" class="neuro-button-main">Update</button>
                </div>
                <div class="" style="margin-top: 40px; margin-left:10px">
                    <button type="button" class="neuro-button-main" onclick="window.location.href='/requests/thank_you'">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}