{% extends 'base.html' %} 

{% block body %}
<div class="neuro-content">
    <h1>{{player.first_name}}</h1>
    <h2>Here are the Dates Available</h2>
    <h2>Week of {{curr_week.start_date.strftime('%b-%d')}}</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to
        <a href="{{ url_for('main.weather') }}">Weather Page</a>
    </div>
    {% endif %} {% endwith %}
    <div class="neuro-form-section" style="min-width: 400px;">
        <form class="neuro-form"  method="POST" action="/requests/update/{{category}}/{{request.id}}">
            <div class = "neuro-form-entry-row" style="border-bottom: 2px solid black">
                <p style="min-width: 140px;">Day</p>
                <p>                    </p>
                <p>Spots </p>
                <p>Request </p>
                <p>Guest? </p>
            </div>
            <div>

            </div>
            {% if category=='weekday' %}
            {% if 'Tuesday' in days %}
            <div class="neuro-form-entry-row">
                <p style="min-width: 70px;">Tuesday</p><p>{{dates[0]}}</p>
                <p tyle="min-width: 20px; content-aling:right">{{days['Tuesday']}}</p>
                <input type="checkbox" name="tuesday" id="tuesday" {{"checked" if request.Tuesday}} {% if days['Tuesday'] <= 0 and not request.Tuesday %}disabled{% endif %}>
                <input type="checkbox" name="tuesday_guest" id="tuesday_guest" {{"checked" if request.Tuesday_guest}} {% if days['Tuesday'] <= 1 and not request.Tuesday_guest %}disabled{% endif %}>
            </div>
            {% else %}
            <input type="hidden" name="tuesday" id="tuesday" >
            {% endif %}
            {% if 'Wednesday' in days  %}
            <div class="neuro-form-entry-row">
                <p style="min-width: 70px;">Wednesday</p><p>{{dates[1]}}</p>
                <p tyle="min-width: 20px; content-aling:right">{{days['Wednesday']}}</p>
                <input type="checkbox" name="wednesday" id="wednesday" {{"checked" if request.Wednesday}} {% if days['Wednesday'] <= 0 and not request.Wednesday %}disabled{% endif %}>
                <input type="checkbox" name="wednesday_guest" id="wednesday_guest" {{"checked" if request.Wednesday_guest}} {% if days['Wednesday'] <= 1 and not request.Wednesday_guest %}disabled{% endif %}>
            </div>
            {% else %}
            <input type="hidden" name="wednesday" id="wednesday" >
            {% endif %}
            {% if 'Thursday' in days %}
            <div class="neuro-form-entry-row">
                <p style="min-width: 70px;">Thursday</p><p>{{dates[2]}}</p>
                <p tyle="min-width: 20px; content-aling:right">{{days['Thursday']}}</p>
                <input type="checkbox" name="thursday" id="thursday" {{"checked" if request.Thursday}} {% if days['Thursday'] <= 0 and not request.Thursday %}disabled{% endif %}>
                <input type="checkbox" name="thursday_guest" id="thursday_guest" {{"checked" if request.Thursday_guest}} {% if days['Thursday'] <= 1 and not request.Thursday_guest %}disabled{% endif %}>
            </div>
            {% else %}
            <input type="hidden" name="thursday" id="thursday" >
            {% endif %}
            {% if 'Friday' in days %}
            <div class="neuro-form-entry-row">
                <p style="min-width: 70px;">Friday</p><p>{{dates[3]}}</p>
                <p tyle="min-width: 20px; content-aling:right">{{days['Friday']}}</p>
                <input type="checkbox" name="friday" id="friday" {{"checked" if request.Friday}} {% if days['Friday'] <= 0 and not request.Friday %}disabled{% endif %}>
                <input type="checkbox" name="friday_guest" id="friday_guest" {{"checked" if request.Friday_guest}} {% if days['Friday'] <= 1 and not request.Friday_guest %}disabled{% endif %}>
            </div>
            {% else %}
                <input type="hidden" name="friday" id="friday" >
            {% endif %}
            {% endif %}
            {% if category=='weekend' %}
            {% if 'Saturday' in days %}
                <div class="neuro-form-entry-row">
                    <p style="min-width: 70px;">Saturday</p><p>{{dates[4]}}</p>
                    <p tyle="min-width: 20px; content-aling:right">{{days['Saturday']}}</p>
                    <input type="checkbox" name="saturday" id="saturday" {{"checked" if request.Saturday}} {% if days['Saturday'] <= 0 and not request.Saturday %}disabled{% endif %}>
                    <!-- <label for="saturday">Saturday</label>
                      -->
                    <input type="checkbox" name="saturday_guest" id="saturday_guest" {{"checked" if request.Saturday_guest}} {% if days['Saturday'] <= 1 and not request.Saturday_guest %}disabled{% endif %}>
                </div>
            {% else %}
                <input type="hidden" name="saturday" id="saturday" >
            {% endif %}
            {% if 'Sunday' in days %}
                <div class="neuro-form-entry-row">
                    <p style="min-width: 70px;">Sunday</p><p>{{dates[5]}}</p>
                    <p tyle="min-width: 20px; content-aling:right">{{days['Sunday']}}</p>
                    <input type="checkbox" name="sunday" id="sunday" {{"checked" if request.Sunday}} {% if days['Sunday'] <= 0 and not request.Sunday %}disabled{% endif %}>
                    <input type="checkbox" name="sunday_guest" id="sunday_guest" {{"checked" if request.Sunday_guest}} {% if days['Sunday'] <= 1 and not request.Sunday_guest %}disabled{% endif %}>
                </div>
            {% else %}
                <input type="hidden" name="sunday" id="sunday" >
            {% endif %}
            {% if 'Monday' in days %}
            <div class="neuro-form-entry-row">
                <p style="min-width: 70px;">Monday</p><p>{{dates[6]}}</p>
                <p tyle="min-width: 20px; content-aling:right">{{days['Monday']}}</p>
                <input type="checkbox" name="monday" id="monday" {{"checked" if request.Monday}} {% if days['Monday'] <= 0 and not request.Monday %}disabled{% endif %}>
                <input type="checkbox" name="monday_guest" id="monday_guest" {{"checked" if request.Monday_guest}} {% if days['Monday'] <= 1 and not request.Monday_guest %}disabled{% endif %}>
            </div>
            {% else %}
                <input type="hidden" name="monday" id="monday" {{"checked" if request.Monday}}>
            {% endif %}
            {% endif %}
            
            <div class="neuro-form-entry-row">
                <div class="" style="margin-top: 40px;">
                    <button type="submit" class="neuro-button-main">Update</button>
                </div>
                <div class="" style="margin-top: 40px; margin-left:10px">
                    <button type="button" class="neuro-button-main" onclick="window.location.href='/requests/thank_you'">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}